body {
    background-image: url('./../images/Hood.jpg');
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.header {
    font-family: 'Permanent Marker', cursive;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 5em;
    color: white;
}

.subheaders {
    font-family: 'Permanent Marker', cursive;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 5em;
    color: white;
}

#intro {
    font-family: 'Permanent Marker', cursive;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 5em;
    color: white;
}
.link {
    text-decoration: none;
    color: white;
}

a:hover{
    color: pink;
}

.titles {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 3em;
    margin-left: 10%;
}

.bio {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 2em;
    margin-left: 10%;
    margin-right: 10%;
}

/* font-family: 'Modak', cursive;
font-family: 'Permanent Marker', cursive; 
font-family: 'Roboto Slab', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Inconsolata', monospace;
font-family: 'Crimson Text', serif;*/
